{% extends 'base/base.twig' %}

{% block main %}
<main class="wrapper app-wrapper">

    <a href="/" class="start"><i class="fa fa-home"></i> Kies een andere bestemming</a>
    
    <header class="huidige-locatie">
        <h3 style="margin-bottom: 10px; padding-left: 10px">{{ record.naam }}</h3>
    </header>
    
    <div class="picture-in-picture-wrapper">
        <img src="{{ record.mapsImageUrl }}">
        <img src="/image/fit/600/300?src={{ record.media[0].url }}" class="picture-in-picture">
    </div>
    
    <section class="gerelateerde-haltes">
        <h3>Halte mogelijkheden</h3>
        {% for halte in haltes|slice(0,5) %}
        <a href="/haltes/{{ halte.haltenummer }}" class="halte group">
            <span class="bord">{{ halte.haltenummer }}</span> {{ halte.straat }}  <span class="afstand">Afstand: {{ halte.afstand }}m</span>
        </a>
        {% endfor %}
    </section>    

</main>
{% endblock %}