{% extends 'base/base.twig' %}

{% block main %}
<main class="wrapper app-wrapper">

    <a href="/" class="start">&laquo; Kies een andere bestemming</a>

    <header class="huidige-locatie">
        <h1 class="bord groot">{{ record.haltenummer }}</h1>
        <h3 style="margin-bottom: 0">{{ record.locatie }}</h3>
        <h2>{{ record.straat }}</h2>
    </header>
  
    <img src="/image/fit/600/300/img/halte-foto{{ random([1,2,3,4])}}.jpg">
    
    <section class="gerelateerde-haltes">
        <h3>Alternatieve haltes</h3>
        {% for halte in haltes|slice(1,5) %}
        <a href="/haltes/{{ halte.haltenummer }}" class="halte group">
            <span class="bord">{{ halte.haltenummer }}</span> {{ halte.straat }}  <span class="afstand">Afstand: {{ halte.afstand }}m</span>
        </a>
        {% endfor %}
    </section>
       
</main>
{% endblock %}