{% extends 'base/base.web.twig' %}

{% block main %}
    {% include 'web/partials/main-header.twig' %}
    <main id="content" role="main">
    <div class="left-panel" style="z-index:1002;">
        <div class="container">
            <div class="row">
                <div class="input-field col">
                    <input type="text" id="location-from" class="autocomplete" placeholder="from" value=""/>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <input type="text" id="location-to" class="autocomplete" placeholder="to" value=""/>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <input id="message-date" type="text" class="datepicker" placeholder="date"/>
                </div>
            </div>
            <div class="row">
                <div id="hoverpanel" class="col">
                 Hover over or click an object on the map to show the corresponding info
                </div>
            </div>
            <div class="row">
                <div id="infopanel" class="col">
                 {% include 'web/partials/message-overview.twig' %}
                </div>
            </div>
        </div>
    </div>
        
    <section class="tourbuzz-map" data-lang="{{ lang }}" data-day="/{{ Y|default(now|date("Y")) }}/{{ m|default(now|date("m")) }}/{{ d|default(now|date("d")) }}" data-page-content-order>
        <div class="tourbuzz-map-leaflet-container"
                data-js-ready="updateMap"
                data-activate-layers="{{ activatelayers }}"
                data-center-lat="{{ center_lat }}"
                data-center-lng="{{ center_lng }}"
                data-zoom="{{ zoom }}"
                data-embedded="{{ embedded|default(0) }}" data-mapview>
        </div>
    </section>

    <div class="tourbuzz-map-container -layers-legend">
                    {% include 'web/partials/layers-legend.twig' with layers_legend %}
                </div>
    </main>
{% endblock %}