{% extends 'base/base.web.twig' %}

{% block main %}
    <section class="tourbuzz-map" data-lang="{{ lang }}" data-day="/{{ Y|default(now|date("Y")) }}/{{ m|default(now|date("m")) }}/{{ d|default(now|date("d")) }}">
        {% include 'web/partials/main-header.twig' %}
        {% include 'web/partials/navigation-bar.twig' %}

        <div class="tourbuzz-map-page-container" data-page-container>
            <div class="tourbuzz-map-page-loading" data-page-loading>
                {% include 'web/partials/loading-indicator.twig' %}
            </div>
            <div class="tourbuzz-map-page-content {% if panel_reverse_order %}-reverse{% endif %}" data-page-content-order>
                <div class="tourbuzz-map-infopanel-container"
                     data-infopanel
                     data-js-ready="loadInfopanel"
                     data-infopanel-url="{{ infopanel_url }}">
                    <div class="tourbuzz-map-infopanel-loading -active" data-infopanel-loading>
                        {% include 'web/partials/loading-indicator.twig' %}
                    </div>
                    <div data-infopanel-content></div>
                </div>
                <div class="tourbuzz-map-mapview-container" data-mapview-container>
                    <div class="tourbuzz-map-leaflet-zone">
                        <div class="tourbuzz-map-leaflet-container"
                              data-mapview
                              data-js-ready="updateMap"
                              data-activate-layers="{{ activatelayers }}"
                              data-center-lat="{{ center_lat }}"
                              data-center-lng="{{ center_lng }}"
                              data-zoom="{{ zoom }}"
                              data-embedded="{{ embedded|default(0) }}">
                        </div>
                        <div class="tourbuzz-map-container -layers-legend">
                            {% include 'web/partials/layers-legend.twig' with layers_legend %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}