{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
    <main class="wrapper">
        <form class="form-styles" method="post">
            <article>
                <h2>{{ __('messages.message_service') }}</h2>
                <p>{{ __('messages.newsletter.subscribe') }}</p>
            </article>
            <div class="form-row {% if errors.mail %}error{% endif %}">
                <h3>{{ __('form.email') }}*</h3>
                <input type="text" name="mail" value="{{ form.mail }}">
                {% if errors.mail %}<p class="note">{{ errors.mail }}</p>{% endif %}
            </div>
            <div class="form-row">
                <h3>{{ __('form.name') }}</h3>
                <input type="text" name="name" value="{{ form.name }}">
            </div>
            <div class="form-row">
                <h3>{{ __('form.organisation') }}</h3>
                <input type="text" name="organisation" value="{{ form.organisation }}">
            </div>
            <input type="hidden" placeholder="taal" name="language" value="{{ lang }}">
            <button type="submit">{{ __('form.subscribe') }}</button>
            <p style="margin-top: 10px; font-size: 12px">{{ __('form.required') }}</p>
        </form>
        <article>
            <p>
                <a href="/berichtenservice-afmelden">{{ __('form.unsubscribe') }}</a>
            </p>
        </article>
    </main>
{% endblock %}

{% block footer %}{% endblock %}