{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
    <main class="wrapper">
        <form class="form-styles" method="post">
            <article>
                <h2>{{ __('Tourbuzz Berichtenservice') }}</h2>
                <p>{{ __('Vul hieronder uw gegevens in en u ontvangt tweewekelijks de Tour Buzz berichten per mail.') }}</p>
            </article>
            <div class="form-row {% if errors.mail %}error{% endif %}">
                <h3>E-mail*</h3>
                <input type="text" name="mail" value="{{ form.mail }}">
                {% if errors.mail %}<p class="note">{{ errors.mail }}</p>{% endif %}
            </div>
            <div class="form-row">
                <h3>{{ __('Naam') }}</h3>
                <input type="text" name="name" value="{{ form.name }}">
            </div>
            <div class="form-row">
                <h3>{{ __('Organisatie') }}</h3>
                <input type="text" name="organisation" value="{{ form.organisation }}">
            </div>
            <input type="hidden" placeholder="taal" name="language" value="{{ lang }}">
            <button type="submit">{{ __('Aanmelden') }}</button>
            <p style="margin-top: 10px; font-size: 12px">* Verplicht veld</p>
        </form>
        <article>
            <p>
            {% if lang == 'nl' %}
                Afmelden? Klik <a href="/berichtenservice-afmelden">hier</a>
            {% elseif lang == 'en' %}
                Unsubscribe? Click <a href="/berichtenservice-afmelden">here</a>
            {% elseif lang == 'de' %}
                Abmelden? <a href="/berichtenservice-afmelden">Hier</a> klicken
            {% endif %}
            </p>
        </article>
    </main>
{% endblock %}

{% block footer %}{% endblock %}