{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block main %}
    <main class="wrapper">
        <article class="col-1-1">
            <h3>{{ __('downloads.title') }}</h3>
            <a href="/poi"><i class="fa fa-download"></i> {{ __('downloads.poi') }}</a><br>
            <a href="/poi"><i class="fa fa-download"></i> {{ __('downloads.csv') }}</a><br>
            <a href="/ov2"><i class="fa fa-download"></i> {{ __('downloads.ov2') }}</a><br>
            <a href="/gpx"><i class="fa fa-download"></i> {{ __('downloads.gpx') }}</a>
        </article>
    </main>
{% endblock %}
