{% extends 'base/base.twig' %}

{% block meta %}
    <link rel="image_src" href="/img/haltes_fb_preview.png">
    <link rel="canonical" href="{{ TOURBUZZ_URI_PROTOCOL }}{{ TOURBUZZ_URI }}/haltes">

    <title>{{ __('application.title') }} - {{ __('stops.title')}}</title>
    <meta name="title" content="Tourbuzz Haltes">
    <meta name="description" content="Alle touringcar haltes in Amsterdam.">
    <meta name="keywords" content="amsterdam, touringcar, haltes">

    <meta property="og:title" content="{{ __('application.title') }} - {{ __('stops.title')}}">
    <meta property="og:url" content="{{ TOURBUZZ_URI_PROTOCOL }}{{ TOURBUZZ_URI }}/haltes">
    <meta property="og:description" content="{{ __('stops.description') }}">
    <meta property="og:site_name" content="{{ __('application.title') }}">
    <meta property="og:image" content="{{ TOURBUZZ_URI_PROTOCOL }}{{ TOURBUZZ_URI }}/img/haltes_fb_preview.png">
{% endblock %}


{% block main %}
    <main class="wrapper">
        <section class="buzz">

            {#<article>
                <h1>Haltes en parkeerplaatsen</h1>
            </article>#}

            <section class="legenda">
                <a href="#haltes" class="type">
                    <img src="/img/haltes/h.png">
                    <h3>{{ __('stops.title') }}</h3>
                    <p>{{ __('stops.exit_only') }}</p>
                </a>
                <a href="#parkeerplaatsen" class="type">
                    <img src="/img/parkeerplaatsen/p.png">
                    <h3>{{ __('parking.title') }}</h3>
                    <p>{{ __('parking.description') }}</p>
                </a>
            </section>

            <section class="kaartmap wrapper">
                <div id="map"></div>
                {% include 'partials/googlemap.stops.js.twig' %}
            </section>

            <a href="/downloads" class="link"><i class="fa fa-location-arrow"></i> {{ __('downloads.description') }}</a>

            <h2><a name="haltes">{{ __('stops.title') }} {{ __('stops.max_10') }}</a></h2>
            <ol>
            {% for halte in haltes %}
                <li style="position: relative; padding-left: 45px">
                    <a href="/haltes/{{ halte.haltenummer }}">
                        <div>
                            <span class="halte-link" style="position: absolute; left: 0; {% if not halte.beschikbaar %}opacity: 0.2{% endif %}">{{ halte.haltenummer }}</span>
                            <span>{{ halte.straat }}</span><br>
                            {% if halte.beschikbaar %}
                                <span class="capaciteit">{{ halte.capaciteit }} {{ __('stops.spots') }}</span><br>
                            {% else %}
                                <span class="capaciteit nietbeschikbaar">{{ __('stops.unavailabe') }}</span><br>
                            {% endif %}
                            <span class="meta">{{ halte.locatie }}</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
            </ol>

            <h2><a name="parkeerplaatsen">{{ __('parking.title') }}</a></h2>
            <ol>
            {% for parkeerplaats in parkeerplaatsen %}
                <li style="position: relative; padding-left: 45px">
                    <a href="/parkeerplaatsen/{{ parkeerplaats.nummer }}">
                        <div>
                            <span class="parkeerplaats-link" style="position: absolute; left: 0; {% if not parkeerplaats.beschikbaar %}opacity: 0.2{% endif %}">{{ parkeerplaats.nummer }}</span>
                            <span>{{ parkeerplaats.naam }}</span><br>
                            {% if parkeerplaats.beschikbaar %}
                                <span class="capaciteit">{{ parkeerplaats.capaciteit }} {{ __('stops.spots') }}</span><br>
                            {% else %}
                              <span class="capaciteit nietbeschikbaar">{{ __('stops.unavailabe') }}</span><br>
                            {% endif %}
                            <span class="meta">{{ parkeerplaats._origineel.Bijzonderheden }}</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
            </ol>

        </section>
    </main>
{% endblock %}
