{% extends 'base/base.twig' %}

{% block main %}
    <main class="wrapper">
        <section class="buzz">
            <h2 class="halte-link">{{ record.haltenummer }}</h2>
            <span>{{ record.straat }}</span>
            <a href="{{ record.mapsUrl }}" class="kaart-link">{{ __('stops.maps') }}</a>

            {% if record.beschikbaar %}
                <span class="capaciteit">{{ record.capaciteit }}&nbsp;{{ __('stops.spots') }}</span>
            {% else %}
                <span class="capaciteit nietbeschikbaar">{{ __('stops.unavailable') }}</span>
            {% endif %}

            <p class="meta">{{ record.locatie }}</p>
            <section class="kaartmap wrapper">
                <img src="{% include 'partials/googlemap.empty.twig' %}">
                {% for halte in haltes %}
                    {% if halte.rel_loc is not empty %}
                        <a href="/haltes/{{ halte.haltenummer }}" style="top: {{ halte.rel_loc.dY }}%; left: {{ halte.rel_loc.dX }}%; {% if not halte.beschikbaar %}opacity: 0.5{% endif %}">
                            <img src="/img/haltes/{{ halte.haltenummer|lower }}.png" class="maplink-h large">
                        </a>
                    {% endif %}
                {% endfor %}
            </section>
        </section>
    </main>
{% endblock %}
