{% extends 'base/base.twig' %}

{% block main %}
<main class="wrapper app-wrapper">
    <section class="buzz">

        <p style="margin: 25px 0 15px">{{ __('Op onderstaande locaties kunt u uw passagiers in- en uit laten stappen. Rij bij een bezette halte, indien mogelijk door naar de eerstvolgende op de route. Let op: maximaal 10 min stilstaan.') }}</p>

        <section class="kaartmap wrapper">
            <img src="{% include 'partials/googlemap.empty.twig' %}" style="width: 100%">
            {% for halte in haltes %}
                {% if halte.rel_loc is not empty %}
                    <a href="/haltes/{{ halte.haltenummer }}" style="top: {{ halte.rel_loc.dY }}%; left: {{ halte.rel_loc.dX }}%; {% if not halte.beschikbaar %}opacity: 0.5{% endif %}">
                        <img src="/img/haltes/{{ halte.haltenummer|lower }}.png" class="maplink-h">
                    </a>
                {% endif %}
            {% endfor %}
        </section>

        <ol>
        {% for halte in haltes %}
        <li style="position: relative; padding-left: 45px">
            <a href="/haltes/{{ halte.haltenummer }}">
                <div>
                    <span class="halte-link" style="position: absolute; left: 0; {% if not halte.beschikbaar %}opacity: 0.2{% endif %}">{{ halte.haltenummer }}</span>
                    <span>{{ halte.straat }}</span><br>
                    {% if halte.beschikbaar %}
                        <span class="capaciteit">{{ halte.capaciteit }} {{ __('plaatsen') }}</span><br>
                    {% else %}
                        <span class="capaciteit">{{ __('niet beschikbaar') }}</span><br>
                    {% endif %}
                    <span class="meta">{{ halte.locatie }}</span>
                </div>
            </a>
        </li>
        {% endfor %}
        </ol>
    </section>
</main>
{% endblock %}
