{% extends 'base/base.twig' %}

{% block slider %}
    {% include 'partials/slider.twig' %}
{% endblock %}

{% block main %}
<main class="wrapper app-wrapper">
    <section class="buzz">

        <p style="margin: 25px 0 15px">Op onderstaande locaties kunt u uw passagiers in- en uit laten stappen. Rij bij een bezette halte, indien mogelijk door naar de eerstvolgende op de route.<br><b>Let op:</b> maximaal 10 min stilstaan.</p>

        <section class="kaartmap wrapper">
            <img src="{% include 'partials/googlemap.empty.twig' %}" style="width: 100%">
            {% for halte in haltes %}
                {% if halte.rel_loc is not empty %}
                    <a href="/haltes/{{ halte.haltenummer }}" style="top: {{ halte.rel_loc.dY }}%; left: {{ halte.rel_loc.dX }}%">
                        <img src="/img/haltes/{{ halte.haltenummer|lower }}.png" class="maplink-h" style="width: 50%">
                    </a>
                {% endif %}
            {% endfor %}
        </section>

        <ol>
        {% for halte in haltes %}
        <li style="position: relative; padding-left: 45px">
            <a href="/haltes/{{ halte.haltenummer }}" class="halte-link" style="position: absolute; left: 0">{{ halte.haltenummer }}</a>
            <a href="/haltes/{{ halte.haltenummer }}">{{ halte.straat }}</a><br>
            <span class="capaciteit">{{ halte.capaciteit }} {{ __('plaatsen') }}</span><br>
            <span class="meta">{{ halte.locatie }}</span>
        </li>
        {% endfor %}
        </ol>
    </section>
</main>
{% endblock %}
