{% extends 'base/base.twig' %}

{% block main %}

<main class="wrapper app-wrapper">
    
    <img src="/img/tourbuzzkaart.png" class="buzzmap">
     
    <section class="buzz">
            
        {% if now|date('y-m-d') == datestring|date('y-m-d') %}
            <h3>Vandaag</h3>
        {% else %}
            <h3>{{ dag }} {{ d }} {{ maand(m) }} {{ y }}</h3>
        {% endif %}
        
        <ul>
            {% for record in berichten %}
            <li>{{ record.title }} <span class="toelichting">{{ record.body }}</span></li>        
            {% endfor %}
        </ul>
    </section>
    
    <section class="cruiseschepen">
        <h3><i class="fa fa-ship"></i> Passengers Terminal Amsterdam</h3>
        <ul>
        {% for record in cruisekalender %}
            <li>
            {{ record.name }} <span class="meta">({{ record.passagiers}} passagiers) - {{ record.aanvang }}</span>
            </li>
        {% endfor %}
        </ul>
    </section>
    
</main>

{% endblock %}