{% extends 'base/base.twig' %}

{% block main %}

<main class="wrapper app-wrapper">
  
 
    <section class="slider" style="padding: 20px" pico-id="slider">
        <a href="#" pico-toggle-class="hide" pico-target-id="slider" class="close">x</a>
        <div id="owl-example" class="owl-carousel">
            {% for record in berichten %}    
            <div>
                <h3 style="margin-bottom: 15px; color: #888; font-size: 20px"><span class="nr">{{ loop.index }}</span> {{ record.title }}</h3>
                <p style="margin-bottom: 10px">{{ record.body|raw }}</p>
                <img src="/img/kaart{{ loop.index }}.png" style="border:1px solid #eee; padding: 10px;">
            </div>
            {% endfor %}
        </div>
    </section>  
         
    <section class="buzz">
            
        {% if now|date('y-m-d') == datestring|date('y-m-d') %}
            <h3>{{ __('Vandaag') }}</h3>
        {% else %}
            <h3>{{ dag }} {{ d }} {{ maand(m) }} {{ y }}</h3>
        {% endif %}
        
        <ol>
            {% for record in berichten %}
            
                {% set title %}
                    {% if lang == 'nl' %}{{ record.title }}{% endif %}
                    {% if lang == 'en' %}{{ record.title_en }}{% endif %}
                    {% if lang == 'fr' %}{{ record.title_fr }}{% endif %}                
                {% endset %}
     
                {% set body %}
                    {% if lang == 'nl' %}{{ record.body|raw }}{% endif %}
                    {% if lang == 'en' %}{{ record.body_en|raw }}{% endif %}
                    {% if lang == 'fr' %}{{ record.body_fr|raw }}{% endif %}                
                {% endset %}
            
                <li><a href="#"><span class="nr">{{ loop.index }}</span>{{ title }}</a>{#<span class="toelichting">{{ body }}</span>#}</li>        
            {% endfor %}
        </ol>
    </section>

    
    {% if cruisekalender is not empty %}
    <section class="cruiseschepen">
        <h3><i class="fa fa-ship"></i> Passengers Terminal Amsterdam</h3>
        <ul>
        {% for record in cruisekalender %}
            <li>
            {{ record.name }} <span class="meta">({{ record.passagiers}} passagiers) - {{ record.aanvang }}</span>
            </li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}
    
</main>

{% endblock %}