{% extends 'base/base.twig' %}

{% block slider %}
     {% include 'partials/slider.twig' %}
{% endblock %}

{% block main %}

<main class="wrapper app-wrapper">

    <section class="buzz">

    {% include 'partials/dagselectie.twig' %}

        <ol>
            {% for record in berichten %}

                {% set title %}
                    {% if lang == 'nl' %}{{ record.title }}{% endif %}
                    {% if lang == 'en' %}{{ record.title_en }}{% endif %}
                    {% if lang == 'fr' %}{{ record.title_fr }}{% endif %}
                {% endset %}

                {% set body %}
                    {% if lang == 'nl' %}{{ record.body|raw }}{% endif %}
                    {% if lang == 'en' %}{{ record.body_en|raw }}{% endif %}
                    {% if lang == 'fr' %}{{ record.body_fr|raw }}{% endif %}
                {% endset %}

                <li><a href="#slide{{ loop.index }}" data-item="{{ loop.index }}" class="slide-link"><span class="nr">{{ loop.index }}</span>{{ title }}</a></li>
            {% endfor %}
        </ol>

        <img src="{% include 'partials/googlemap.twig' %}">

    </section>


    {% if cruisekalender is not empty %}
    <section class="cruiseschepen">
        <h3><i class="fa fa-ship"></i> Passengers Terminal Amsterdam</h3>
        <ul>
        {% for record in cruisekalender %}
            <li>
            {{ record.name }} <span class="meta">({{ record.passagiers}} passagiers) - {{ record.aanvang }}</span>
            </li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}

</main>

{% endblock %}