{% extends 'base/base.twig' %}

{% block main %}

<main class="wrapper app-wrapper">
    
    {#<img src="/img/tourbuzzkaart.png" class="buzzmap">#}
     
    <section class="buzz">
            
        {% if now|date('y-m-d') == datestring|date('y-m-d') %}
            <h3>{{ __('Vandaag') }}</h3>
        {% else %}
            <h3>{{ dag }} {{ d }} {{ maand(m) }} {{ y }}</h3>
        {% endif %}
        
        <ul>
            {% for record in berichten %}
            
                {% set title %}
                    {% if lang == 'nl' %}{{ record.title }}{% endif %}
                    {% if lang == 'en' %}{{ record.title_en }}{% endif %}
                    {% if lang == 'fr' %}{{ record.title_fr }}{% endif %}                
                {% endset %}
     
                 {% set body %}
                    {% if lang == 'nl' %}{{ record.body }}{% endif %}
                    {% if lang == 'en' %}{{ record.body_en }}{% endif %}
                    {% if lang == 'fr' %}{{ record.body_fr }}{% endif %}                
                {% endset %}
            
                <li>{{ title }} <span class="toelichting">{{ body }}</span></li>        
            {% endfor %}
        </ul>
    </section>
    
    {% if cruisekalender is not empty %}
    <section class="cruiseschepen">
        <h3><i class="fa fa-ship"></i> Passengers Terminal Amsterdam</h3>
        <ul>
        {% for record in cruisekalender %}
            <li>
            {{ record.name }} <span class="meta">({{ record.passagiers}} passagiers) - {{ record.aanvang }}</span>
            </li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}
    
</main>

{% endblock %}