{% extends 'base/base.offline.twig' %}

{% block main %}

<main class="wrapper">

    <section class="buzz">

        <h2>{{ now|date('d-M-Y') }}</h2>
        <ol class="berichten">
            {% for record in berichten %}

                {% set title %}
                    {% if lang == 'nl' %}{{ record.title }}{% endif %}

                    {% if lang == 'en' %}
                        {% if record.title_en %}{{ record.title_en }}
                        {% else %}{{ record.title }} <span class="meta">(translation unavailable)</span>
                        {% endif %}
                    {% endif %}

                    {% if lang == 'de' %}
                        {% if record.title_de %}{{ record.title_de }}
                        {% else %}{{ record.title_en }} <span class="meta">(Übersetzung nicht verfügbar)</span>
                        {% endif %}
                    {% endif %}
                {% endset %}

                {% set body %}
                    {% if lang == 'nl' %}{{ record.body|raw }}{% endif %}
                    {% if lang == 'en' %}{{ record.body_en|raw }}{% endif %}
                    {% if lang == 'de' %}{{ record.body_de|raw }}{% endif %}
                {% endset %}

                <li>
                    <a href="/{{ Y }}/{{ m }}/{{ d }}/details#slide{{ loop.index }}" class="slide-link">
                        <span class="nr">{{ loop.index }}</span>{{ title }}
                    </a>
                </li>
            {% endfor %}
        </ol>

    </section>

</main>

{% endblock %}
