{% extends 'base/base.twig' %}

{% block slider %}
     {% include 'partials/slider.twig' %}
{% endblock %}

{% block main %}

<main class="wrapper app-wrapper">

    <section class="buzz">
        <h2 class="parkeerplaats-link">{{ record.nummer }}</h2>&nbsp;&nbsp;<span>{{ record.naam }}</span>

        <section class="kaartmap wrapper">
            <img src="{% include 'partials/googlemap.empty.twig' %}" style="width: 100%">
            {% for parkeerplaats in parkeerplaatsen %}
                {% if parkeerplaats.rel_loc is not empty %}
                    <a href="/parkeerplaatsen/{{ parkeerplaats.nummer }}" style="top: {{ parkeerplaats.rel_loc.dY }}%; left: {{ parkeerplaats.rel_loc.dX }}%">
                        <img src="/img/parkeerplaatsen/{{ parkeerplaats.nummer|lower }}.png" class="maplink-p" style="width: 50%">
                    </a>
                {% endif %}
            {% endfor %}
        </section>
        <p class="meta">{{ record._origineel.Bijzonderheden }}</p>

    </section>

</main>

{% endblock %}
