{% extends 'base/base.twig' %}

{% block main %}

<main class="wrapper">

    <section class="buzz">
        <h2 class="parkeerplaats-link">{{ record.nummer }}</h2>&nbsp;&nbsp;<span>{{ record.naam }}</span>&nbsp;&nbsp;<span class="kaart-link"><a href="{{ record.mapsUrl }}">Google Maps</a></span><br>
        {% if record.beschikbaar %}
            <span class="capaciteit">{{ record.capaciteit }} {{ __('plaatsen') }}</span>
        {% else %}
            <span class="capaciteit">{{ __('niet beschikbaar') }}</span>
        {% endif %}
        <p class="meta">{{ record._origineel.Bijzonderheden }}</p>
        <section class="kaartmap wrapper">
            <img src="{% include 'partials/googlemap.empty.twig' %}" style="width: 100%">
            {% for parkeerplaats in parkeerplaatsen %}
                {% if parkeerplaats.rel_loc is not empty %}
                    <a href="/parkeerplaatsen/{{ parkeerplaats.nummer }}" style="top: {{ parkeerplaats.rel_loc.dY }}%; left: {{ parkeerplaats.rel_loc.dX }}%; {% if not parkeerplaats.beschikbaar %}opacity: 0.5{% endif %}">
                        <img src="/img/parkeerplaatsen/{{ parkeerplaats.nummer|lower }}.png" class="maplink-p large">
                    </a>
                {% endif %}
            {% endfor %}
        </section>

    </section>

</main>

{% endblock %}
