{% extends 'base/base.twig' %}

{% block main %}
    <main class="wrapper">
        <section class="buzz">
            <h2 class="parkeerplaats-link">{{ record.nummer }}</h2>
            <span>{{ record.naam }}</span>
            <a href="{{ record.mapsUrl }}" class="kaart-link">Google Maps</a>
            {% if record.beschikbaar %}
                <span class="capaciteit">{{ record.capaciteit }}&nbsp;{{ __('plaatsen') }}</span>
            {% else %}
                <span class="capaciteit nietbeschikbaar">{{ __('niet beschikbaar') }}</span>
            {% endif %}
            <p class="meta">{{ record._origineel.Bijzonderheden }}</p>
            <section class="kaartmap wrapper">
                <img src="{% include 'partials/googlemap.empty.twig' %}">
                {% for parkeerplaats in parkeerplaatsen %}
                    {% if parkeerplaats.rel_loc is not empty %}
                        <a href="/parkeerplaatsen/{{ parkeerplaats.nummer }}" style="top: {{ parkeerplaats.rel_loc.dY }}%; left: {{ parkeerplaats.rel_loc.dX }}%; {% if not parkeerplaats.beschikbaar %}opacity: 0.5{% endif %}">
                            <img src="/img/parkeerplaatsen/{{ parkeerplaats.nummer|lower }}.png" class="maplink-p large">
                        </a>
                    {% endif %}
                {% endfor %}
            </section>
        </section>
    </main>
{% endblock %}
