{% extends 'base/base.twig' %}

{% block slider %}
    {% include 'partials/slider.twig' %}
{% endblock %}

{% block main %}
<main class="wrapper app-wrapper">
    <section class="buzz">

        <p style="margin: 25px 0 15px">Op onderstaande locaties kunt u uw bus parkeren. Onder de kaart vindt u de tarieven.</p>

        <section class="kaartmap wrapper">
            <img src="{% include 'partials/googlemap.empty.twig' %}" style="width: 100%">
            {% for parkeerplaats in parkeerplaatsen %}
            <a href="/parkeerplaatsen/{{ parkeerplaats.nummer }}" style="top: {{ parkeerplaats.rel_loc.dY }}%; left: {{ parkeerplaats.rel_loc.dX }}%">
                <img src="/img/parkeerplaatsen/{{ parkeerplaats.nummer|lower }}.png" class="maplink-p" style="width: 50%">
            </a>
            {% endfor %}
        </section>

        <ol>
        {% for parkeerplaats in parkeerplaatsen %}
        <li style="position: relative; padding-left: 45px">
            {% if parkeerplaats.rel_loc is not empty %}
                <a href="/parkeerplaatsen/{{ parkeerplaats.nummer }}" class="parkeerplaats-link" style="position: absolute; left: 0">{{ parkeerplaats.nummer }}</a>
                <a href="/parkeerplaatsen/{{ parkeerplaats.nummer }}">{{ parkeerplaats.naam }}</a><br>
                <span class="capaciteit">{{ parkeerplaats.capaciteit }} {{ __('plaatsen') }}</span><br>
                <span class="meta">{{ parkeerplaats._origineel.Bijzonderheden }}</span> {# FIXME #}
            {% endif %}
        </li>
        {% endfor %}
        </ol>
    </section>
</main>
{% endblock %}
