{% extends 'base/base.twig' %}

{% block main %}
    <main class="wrapper">
        <section class="buzz">

            <div style="position: relative">
             {% if record.beschikbaar %}
                <span class="capaciteit" style="position: absolute; background: #fff; top: 10px; right: 10px; border: 0">{{ record.capaciteit }}&nbsp;{{ __('stops.spots') }}</span>
            {% else %}
                <span class="capaciteit nietbeschikbaar">{{ __('stops.unavailable') }}</span>
            {% endif %}
            <div style="background: #f8f8f8; padding: 10px 10px">

            <h2 class="parkeerplaats-link" style="margin-top: 0; padding: 5px 7px; margin-right: 8px">{{ record.nummer }}</h2>
            <span>{{ record.naam }}</span>




            <p class="meta">{{ record._origineel.Bijzonderheden }}</p>
            </div>


            <script>

            var pollingInterval = null;

            function doPoll(){
                $.get('/async/parkeerplaats-status/{{ record.nummer }}', function(data) {
                    $('#poll-container').html(data);
                    pollingInterval = setTimeout(doPoll,5000);
                });
            }

            $(document).ready(function () {
                doPoll();
                $('[data-stop-polling]').on('click', function(e)  {
                    e.preventDefault();
                    clearInterval(pollingInterval); // stop the interval
                    console.log('stopped');
                });
            });

            </script>

            {#<a href="#" data-stop-polling class="button">Stop polling</a>#}
            <div id="poll-container">
                {% include 'partials/parkeerplaats-status.twig' with {'vialis': record.vialis } %}
            </div>

            {#<section style="padding: 1px 20px 10px 20px; background: #EBF5FB; margin: 20px 0">
                <h2>Vrije plaatsen</h2>
                <p>{{ record.vialis.vacant }} / {{ record.vialis.capacity }}</p>
                <p class="meta" style="margin-top: 10px">Updated: Testdata: {{ record.vialis.name }} - {{ record.vialis.last_updated|date('d-m-Y H:i:s') }}</p>
            </section>#}

            <section class="kaartmap wrapper">
                <img src="{% include 'partials/googlemap.empty.twig' %}">
                {% for parkeerplaats in parkeerplaatsen %}
                    {% if parkeerplaats.rel_loc is not empty %}
                        <a href="/parkeerplaatsen/{{ parkeerplaats.nummer }}" style="top: {{ parkeerplaats.rel_loc.dY }}%; left: {{ parkeerplaats.rel_loc.dX }}%; {% if not parkeerplaats.beschikbaar %}opacity: 0.5{% endif %}">
                            <img src="/img/parkeerplaatsen/{{ parkeerplaats.nummer|lower }}.png" class="maplink-p large">
                        </a>
                    {% endif %}
                {% endfor %}
            </section>
            <a href="{{ record.mapsUrl }}" class="kaart-link">Google Maps</a>

            {#<img src="/img/parkeerprofiel.png">#}

        </section>
    </main>
{% endblock %}
