<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title>Tour Buzz</title>
        <link>http://www.tourbuzz.nl</link>
        <description>Dagelijks het belangrijkste touringcarnieuws uit Amsterdam.</description>
        <language>nl-nl</language>
        <lastBuildDate>{{ datetime }}</lastBuildDate>
        {% for bericht in berichten %}
        <item>
            <title>{{ bericht.title }}</title>
            <link>http://www.tourbuzz.nl/bericht/{{ bericht.id }}</link>
            <guid>{{ bericht.id }}{{ dateCode }}</guid>
            <pubDate>{{ pubDate }}</pubDate>
            <author>Tour Buzz</author>
            <description>{{ bericht.body }}</description>
            <content:encoded>
                <![CDATA[
                    <!doctype html>
                    <html lang="nl" prefix="op: http://media.facebook.com/op#">
                        <head>
                            <meta charset="utf-8">
                            <link rel="canonical" href="http://www.tourbuzz.nl/bericht/{{ bericht.id }}#{{ dateCode }}">
                            <meta property="op:markup_version" content="v1.0">
                        </head>
                        <body>
                            <article>
                                <header>
                                    <h1>{{ bericht.title }}</h1>
                                </header>
                                <figure>
                                    <img src="{{ bericht.image_url }}" class="no-margin"/>
                                    <figcaption class="op-left op-large">
                                        <h1>{{ bericht.title }}</h1>
                                    </figcaption>
                                </figure>
                                <p>
                                    {{ bericht.body }}
                                </p>
                                <p>Voor meer touringcarnieuws uit Amsterdam kijk je op <a href="http://www.tourbuzz.nl">www.tourbuzz.nl</a>.</p>
                                <footer>
                                    <p>Voor meer touringcarnieuws uit Amsterdam kijk je op <a href="http://www.tourbuzz.nl">www.tourbuzz.nl</a>.</p>
                                </footer>
                            </article>
                        </body>
                    </html>
                ]]>
            </content:encoded>
        </item>
        {% endfor %}
        </channel>
</rss>
