{% extends 'base/base.twig' %}

{% block main %}

<main class="wrapper app-wrapper">
  
     {% if now|date('y-m-d') == datestring|date('y-m-d') %}
        <h3 class="dag">{{ __('Vandaag') }}</h3>
    {% else %}
        <h3 class="dag">{{ dag }} {{ d }} {{ maand(m) }} {{ y }}</h3>
    {% endif %} 
  
    <section class="splash">
        {#<a href="#" class="close" data-close><i class="fa fa-close"></i></a>#}
        <article>
            <h2>Testversie</h2>
            <p>Welkom bij Tour Buzz. U kijkt naar een testversie, we horen graag uw mening.</p>
            <a href="{{ redirect }}" class="button">ok</a>
        </article>   
    </section>
    
</main>

{% endblock %}