{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}

{% block header %}
    <header class="main-header dashboard">
        <div class="wrapper">
            <a href="/" class="home"><img src="/img/buzzlogo-w.png" class="buzz-logo"></a>
            <h2>
                <a href="/dashboard/berichten">{{ __('application.title') }} <span>{{ __('application.dashboard') }}</span></a>
            </h2>
        </div>
    </header>
{% endblock %}

{% block main %}
    <main class="wrapper">
        <form class="form-styles" method="post">
            <article>
                <h2>{{ __('form.forgot_password') }}</h2>
                <p>{{ __('form.enter_username') }}</p>
            </article>
            <input type="text" placeholder="{{ __('form.username') }}" name="username">
            <button type="submit">{{ __('form.submit') }}</button>
        </form>
    </main>
{% endblock %}

{% block footer %}{% endblock %}