{% extends 'base/base.twig' %}

{% block topselectie %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block main %}
<section class="buzz group">

        <ol class="berichten">
            {% if berichten is empty %}
                <p>{{ __('Geen berichten.') }}</p>
            {% endif %}

            {% for record in berichten %}

                {% set title %}
                    {% if lang == 'nl' %}{{ record.title }}{% endif %}

                    {% if lang == 'en' %}
                        {% if record.title_en  is not empty %}{{ record.title_en }}
                        {% else %}{{ record.title }} <span class="meta">(translation unavailable)</span>
                        {% endif %}
                    {% endif %}

                    {% if lang == 'de' %}
                        {% if record.title_de  is not empty %}{{ record.title_de }}
                        {% else %}{{ record.title }} <span class="meta">(Übersetzung nicht verfügbar)</span>
                        {% endif %}
                    {% endif %}

                    {% if lang == 'es' %}
                        {% if record.title_es  is not empty %}{{ record.title_es }}
                        {% else %}{{ record.title }} <span class="meta">(Traducción no está disponible)</span>
                        {% endif %}
                    {% endif %}
                {% endset %}

                {% set body %}
                    {% if lang == 'nl' %}{{ record.body|raw }}{% endif %}
                    {% if lang == 'en' %}{{ record.body_en|raw }}{% endif %}
                    {% if lang == 'de' %}{{ record.body_de|raw }}{% endif %}
                    {% if lang == 'es' %}{{ record.body_es|raw }}{% endif %}
                {% endset %}

                <li>
                    <a href="/{{ Y }}/{{ m }}/{{ d }}/details#slide{{ loop.index }}" class="slide-link" target="_blank">
                        <span class="nr">{{ loop.index }}</span>{{ title }}
                    </a>
                </li>
            {% endfor %}
        </ol>
        <a href="{{ TOURBUZZ_URI_PROTOCOL }}{{ TOURBUZZ_URI }}" style="font-size: 12px; color: #aaa; display: block; margin-top: 10px; text-align: right" target="_blank">Powered by Tourbuzz</a>
</section>
{% endblock %}