<!doctype html>
<html lang="nl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <!--<link href="/favicon.ico" rel="icon" type="image/x-icon">-->	
		<title>TourBuzz</title>
		<meta name="description" content="TourBuzz for coach drivers">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">		
		<link rel="stylesheet" href="/css/scss/main.scss">
        <link rel="stylesheet" href="/js/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="/js/owl-carousel/owl.theme.css">        
		<link rel="stylesheet" href="/js/pikaday/css/pikaday.css">		
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/js/owl-carousel/owl.carousel.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>        
        <script src="/js/pico-ui.js"></script>
        <script>
            $(document).ready(function() {
                
                $("#owl-example").owlCarousel({
                    singleItem: true,
                    navigation: true
                });
                
                $('[data-item]').on('click', function(e)  {
                    $(".slider").toggleClass("hide");
                    $(".buzz").toggleClass("hide");                    
                });
                
                $('[data-close]').on('click', function(e)  {
                    $(".slider").toggleClass("hide");
                    $(".buzz").toggleClass("hide");                    
                });               
                
            });   
        </script>
    	<script>
    	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    	
    	  ga('create', 'UA-74182539-1', 'auto');
    	  ga('send', 'pageview');
    	
    	</script>
	</head>
	<body>
	    {% include 'partials/grid.twig' %}
		
		{% block header %}
		    <header class="main-header">
		        <div class="app-wrapper">
    		        <a href="/" class="home"><i class="fa fa-bus"></i></a>
    		        <h2><a href="/">Tour Buzz</a><span><a href="{{ vorige }}"><i class="fa fa-chevron-left"></i></a>{{ dag }} {{ d }} {{ maand(m) }} {{ y }} <a href="{{ volgende }}"><i class="fa fa-chevron-right"></i></a></span></h2>
    		        <nav class="taal">
    		            <a href="?lang=nl" {% if lang =='nl' %}class="active"{% endif %}>nl</a>
    		            <a href="?lang=en" {% if lang =='en' %}class="active"{% endif %}>en</a>
    		            <a href="?lang=fr" {% if lang =='fr' %}class="active"{% endif %}>fr</a>
    		        </nav>
		        </div>
		    </header>
		{% endblock %}
		
		{% block flashmessages %}
		    {% if flash is not empty %}
    		    <section class="flashmessages">
        		    {% for type, message in flash %}
        		        <p class="{{ type }}">{{ message }}</p>
        		    {% endfor %}
    		    </section>
		    {% endif %}
		{% endblock %}
		
		{% block main %}{% endblock %}
		
		{% block footer %}
		    <footer class="wrapper app-wrapper">
		        <p>{{ __('Kijk op') }} <a href="//www.amsterdam.nl/touringcars">www.amsterdam.nl/touringcars</a>
		        <span class="debug">API : {{ api }} </span>
		        </p>
		    </footer>
		{% endblock %}
		
        <script src="/js/pikaday/pikaday.js"></script>
        <script>
            var startdate = new Pikaday({ 
                field: document.getElementById('startdate'),
                format: 'YYYY-MM-DD'
            });
            var enddate = new Pikaday({ 
                field: document.getElementById('enddate'),
                format: 'YYYY-MM-DD'
            });
        </script>   
	</body>
</html>
