<!doctype html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">

        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="apple-touch-icon" href="/img/buzz-icon.png">

        {% block meta %}
        <link rel="image_src" href="/img/tourbuzz_fb_preview.png">
        <link rel="canonical" href="http://www.tourbuzz.nl">

        <title>Tour Buzz</title>
        <meta name="title" content="Tour Buzz">
        <meta name="description" content="Dagelijks het belangrijkste touringcarnieuws uit Amsterdam.">
        <meta name="keywords" content="amsterdam, touringcar, nieuws">

        <meta property="og:title" content="Tour Buzz">
        <meta property="og:url" content="http://www.tourbuzz.nl">
        <meta property="og:description" content="Tour Buzz - Dagelijks het belangrijkste touringcarnieuws uit Amsterdam.">
        <meta property="og:site_name" content="Tour Buzz">
        <meta property="og:image" content="http://www.tourbuzz.nl/img/tourbuzz_fb_preview.png">
        {% endblock %}

        <link rel="stylesheet" href="/css/scss/main.scss">
        <script src="/js/jquery-2.2.4.min.js"></script>
        {% block scripts %}
            {# Page specific scripts go here. #}
        {% endblock %}

    </head>
    <body>

        {% block header %}
            <header class="main-header">
                <div class="wrapper">
                    {% if adamlogo %}<img src="/img/adam-logo.png" class="adam-logo">{% endif %}
                    <a href="/" class="home"><img src="/img/buzzlogo-w.png" class="buzz-logo"></a>
                    <h2>
                        <a href="/"><img src="/img/tour-buzz.png" alt="Tour Buzz" class="title-logo"></a>
                    </h2>
                </div>
            </header>
        {% endblock %}

        {% block flashmessages %}
            {% if flash is not empty %}
                <section class="flashmessages">
                    {% for type, message in flash %}
                        <p class="{{ type }}">{{ message }}</p>
                    {% endfor %}
                </section>
            {% endif %}
        {% endblock %}

        {% block topselectie %}
        <section class="notice">
           <div class="wrapper">
                <p class="error">LET OP: U bent offline en ziet een aangepaste versie van Tour Buzz.</p>
           </div>
        </section>
        {% endblock %}

        {% block slider %}{% endblock %}

        {% block main %}{% endblock %}

        {% block footer %}
            <footer>
                <div class="wrapper">
                    <div class="col-1-1">
                        <p>{{ __('Meer info') }}: <a href="{{ TOURINGCAR_URI_PROTOCOL }}{{ TOURINGCAR_URI }}" target="_blank">{{ TOURINGCAR_URI }}</a></p>
                        <p style="font-weight: normal">
                            {{ __('Feedback of vragen kunt u sturen naar') }}
                            <br>
                            {{ TOURINGCAR_CONTACT_NAME }}:
                            <a href="mailto:{{ TOURINGCAR_CONTACT_EMAIL }}">
                                {{ TOURINGCAR_CONTACT_NAME }}
                            </a>
                        </p>

                        {% if timestamp is not empty %}
                            <p>{{ __('Laatste wijziging') }}: {{ timestamp|date('d-m-Y') }}</p>
                        {% endif %}

                        <center style="margin-top: 10px"><div class="fb-like" data-share="false" data-width="240" data-show-faces="false"></div></center>
                    </div>
                </div>
            </footer>
        {% endblock %}

    </body>
</html>
