<section class="date-picker" data-date-picker>
    <input type="text" class="date-picker-input" disabled value="{{ d }} {{ maand(m) }} {{ Y }}" data-js-click="datePickerInput" data-calendar-url="/calendar/{{ Y }}/{{ m }}/{{ d }}">
    <div class="date-picker-calendar" data-calendar-container>
        {% include 'web/partials/calendar-block.twig' %}
    </div>
</section>