<div id="menu-modal" class="modal">
    <div class="modal-content">
    <div class="container" data-js="test" data-test-value="15">
        <div class="row">
            <div class="col m4">
                <h6>{{ __('about.title')}}</h6>
                <p>{{ __('about.description')}}</p>
                <p>
                    <span>{{ __('about.more')}}: </span>
                    <a href="{{ TOURINGCAR_URI_PROTOCOL }}{{ TOURINGCAR_URI }}" target="_blank">{{ TOURINGCAR_URI }}</a>
                </p>
            </div>
            <div class="col m4">
                <h6>{{ __('messages.title') }}</h6>
                <ul>
                    <li>
                        <a href="/berichtenservice">{{ __('messages.message_service') }}</a>
                    </li>
                    <li>
                        <a href="/sms-aanmelden">{{ __('messages.text_service') }}</a>
                    </li>
                </ul>
            </div>
            <div class="col m4">
                <h6>{{ __('downloads.title') }}</h6>
                <ul>
                    <li>
                        <a href="/poi">{{ __('downloads.poi') }}</a>
                    </li>
                    <li>
                        <a href="/poi">{{ __('downloads.csv') }}</a>
                    </li>
                    <li>
                        <a href="/ov2">{{ __('downloads.ov2') }}</a>
                    </li>
                    <li>
                        <a href="/gpx">{{ __('downloads.gpx') }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col m6">© 2020 TiltShift</div>
                <div class="col m6">
                    <span>{{ __('contact.description') }} </span>
                    <a href="mailto:{{ TOURINGCAR_CONTACT_EMAIL }}">{{ TOURINGCAR_CONTACT_EMAIL }}</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>