<section class="footer-block">
    <div class="footer-block-main" data-js="test" data-test-value="15">
        <div class="footer-block-wrapper">
            <div class="footer-block-container">
                <h3 class="footer-block-title">{{ __('about.title')}}</h3>
                <p class="footer-block-text">{{ __('about.description')}}</p>
                <p class="footer-block-text">{{ __('about.more')}}: <a href="{{ TOURINGCAR_URI_PROTOCOL }}{{ TOURINGCAR_URI }}" target="_blank" class="footer-block-text-link">{{ TOURINGCAR_URI }}</a></p>
            </div>
            <div class="footer-block-container">
                <h3 class="footer-block-title">{{ __('messages.title') }}</h3>
                <a href="/berichtenservice" class="footer-block-link">{{ __('messages.message_service') }}</a>
                <a href="/sms-aanmelden" class="footer-block-link">{{ __('messages.text_service') }}</a>
            </div>
            <div class="footer-block-container">
                <h3 class="footer-block-title">{{ __('downloads.title') }}</h3>
                <a href="/poi" class="footer-block-link">{{ __('downloads.poi') }}</a>
                <a href="/poi" class="footer-block-link">{{ __('downloads.csv') }}</a>
                <a href="/ov2" class="footer-block-link">{{ __('downloads.ov2') }}</a>
                <a href="/gpx" class="footer-block-link">{{ __('downloads.gpx') }}</a>
            </div>
            <div class="footer-block-container">
                <h3 class="footer-block-title">{{ __('contact.title') }}</h3>
                <p class="footer-block-text">{{ __('contact.description') }} <a href="mailto:{{ TOURINGCAR_CONTACT_EMAIL }}" class="footer-block-text-link">{{ TOURINGCAR_CONTACT_EMAIL }}</a></p>
            </div>
        </div>
    </div>
    {#<div class="footer-block-sub">
        <div class="footer-block-wrapper">
            <div class="footer-block-container-sub">
                <a href="#" class="footer-block-sub-link"><img src="/img/icons/chevron-right.svg" class="footer-block-arrow">Over Tour Buzz</a>
                <a href="#" class="footer-block-sub-link"><img src="/img/icons/chevron-right.svg" class="footer-block-arrow">Privacy</a>
                <a href="#" class="footer-block-sub-link"><img src="/img/icons/chevron-right.svg" class="footer-block-arrow">Cookies</a>
            </div>
        </div>
    </div>#}
</section>