<div class="card">
    <div class="card-image">
        <img src="" class="responsive-img" data-js-ready="loadPanoThumbnail" data-lat="{{ record.location.lat }}" data-lon="{{ record.location.lng }}">
        <a class="btn-floating halfway-fab waves-effect waves-light blue"><i>{{ record.haltenummer }}</i></a>
    </div>
    <div class="card-content">
        <span class="card-title">{{ record.straat }}</span>
        <p class="halte-detail-description">{{ record.locatie }}</p>          
        <p>
            {% if record.beschikbaar %}
                <span class="green-text">{{ record.capaciteit }}&nbsp;{{ __('stops.spots') }}</span>
            {% else %}
                <span class="grey-text">{{ __('stops.unavailable') }}</span>
            {% endif %}
        </p>
            <a href="https://maps.google.com/?q={{ record.location.lat }},{{ record.location.lng }}" target="_blank" class="halte-detail-text-link">{{ __('stops.maps')}}</a>
    </div>
</div>