<div class="park-detail-body">
    <div class="park-detail-title-container">
        <div class="park-detail-header">
            <div class="park-detail-nr">{{ record.nummer }}</div>
            <h1 class="park-detail-title">{{ record.naam }}</h1>
        </div>
        <div class="park-detail-spots">
            {% if record.vialis %}
                <span data-js-ready="loadAvailability" data-park-id="{{ record.nummer }}">...</span>
            {% elseif record.beschikbaar %}
                <div class="park-detail-spots-badge">{{ record.capaciteit }}&nbsp;{{ __('plaatsen') }}</div>
            {% else %}
                <div class="park-detail-spots-badge">{{ __('niet beschikbaar') }}</div>
            {% endif %}
        </div>
    </div>
    <div class="park-detail-img-container">
        <div class="park-detail-img-frame">
            <img src="" class="park-detail-img" data-js-ready="loadPanoThumbnail" data-lat="{{ record.location.lat }}" data-lon="{{ record.location.lng }}">
        </div>
        <div class="park-detail-info">
            <p class="park-detail-description">{{ record._origineel.Bijzonderheden }}</p>
        </div>
    </div>
    <hr class="park-detail-hr">
    <a href="https://maps.google.com/?q={{ record.location.lat }},{{ record.location.lng }}" target="_blank" class="halte-detail-text-link">Google maps</a>
</div>