{% extends 'base/base.twig' %}

{% block header %}
    <header class="main-header">
        <div class="app-wrapper">
            <a href="/" class="home"><img src="/img/buzzlogo-w.png" class="buzz-logo"></a>
            <h2>
                <a href="/dashboard/berichten">Tour Buzz <span>Dashboard</span></a>
            </h2>
        </div>
        <a href="/dashboard/logout">Afmelden ({{ username }})</a>
    </header>
{% endblock %}

{% block main %}
<main class="wrapper app-wrapper">

    <form class="form-styles" method="post" action="/dashboard/berichten">
        <input type="hidden" name="id" value="{{ bericht.id }}">

        <h3>Nieuw bericht</h3>

        <nav pico-reset-class-container class="tab-navigation">
            <ul class="tabselect">
                <li>
                    <a pico-toggle-class class="active" pico-id="tab-nl" href="#tab-nl">Nederlands</a>
                </li>
                <li>
                    <a pico-toggle-class pico-id="tab-en" href="#tab-en">English</a>
                </li>
                {#<li>
                    <a pico-toggle-class pico-id="tab-fr" href="#tab-fr">fr</a>
                </li>#}
            </ul>
            <div class="tab active" pico-id="tab-nl">
                <input type="text" name="title" placeholder="Headline" value="{{ bericht.title }}">
                <textarea name="body" placeholder="Situatie">{{ bericht.body }}</textarea>
                <textarea name="advice" placeholder="Advies">{{ bericht.advice }}</textarea>
            </div>
            <div class="tab" pico-id="tab-en">
                <input type="text" name="title_en" placeholder="Headline (engels)" value="{{ bericht.title_en }}">
                <textarea name="body_en" placeholder="Situatie (engels)">{{ bericht.body_en }}</textarea>
                <textarea name="advice_en" placeholder="Advies (engels)">{{ bericht.advice_en }}</textarea>
            </div>
        </nav>

        {#<span class="maxchars">Max 200 karakters</span>#}

        <div class="grid-row">
            <input type="checkbox" name="important" value="important" {% if bericht.important is not empty %}checked=checked{% endif %}> Belangrijk bericht
        </div>

        <div class="grid-row group">
            <h3 style="margin-top: 20px">Publicatiedatum</h3>
            <div class="datepicker">
                <input type="text" name="startdate" id="startdate" placeholder="Start" value="{{ bericht.startdate }}">
            </div>
            <div class="datepicker">
                <input type="text" name="enddate" id="enddate" placeholder="Einde" value="{{ bericht.enddate }}">
            </div>
        </div>

        <div class="grid-row">
            <input type="checkbox" name="is_live" value="is_live" {% if bericht.is_live is not empty %}checked=checked{% endif %}> Publiceren op Tour Buzz
        </div>

        <div class="grid-row group">
            <h3 style="margin-top: 20px">Link</h3>
            <input type="text" name="link" value="{{ bericht.link }}">
        </div>

        <div class="grid-row group">
            <h3 style="margin-top: 20px">Afbeelding</h3>
            {% include 'dashboard/partials/fileupload.twig' %}
        </div>

        <button type="submit">Opslaan</button>
    </form>

    <section class="buzz">
        <form method="post" action="/dashboard/berichten/verwijderen">
        <button type="submit" class="verwijderen">Verwijderen</button>
        <h2>Berichten</h2>
        <ol class="berichten">
            {% for record in berichten %}
            <li style="position: relative">
                <input type="checkbox" name="ids[]" value="{{ record.id }}">
                <a href="/dashboard/berichten/{{ record.id }}">
                    <span class="nr">{{ loop.index }}</span>
                    {{ record.title }}
                    <span class="meta">van <b>{{ record.startdate|date('d-m \'y') }}</b> t/m <b>{{ record.enddate|date('d-m \'y') }}</b></span>
                </a>
            </li>
            {% endfor %}
        </ol>
        </form>
    </section>


</main>
{% endblock %}
