{% extends 'base/base.twig' %}

{% block main %}
<main class="wrapper app-wrapper"> 
 
    <form class="form-styles" method="post" action="/dashboard/berichten">
        <input type="hidden" name="id" value="{{ bericht.id }}">
        {{ feedback }}
        <h3>Nieuw bericht</h3>
        <div class="grid-row">
            <select name="category">
                <option value="nieuws">Nieuws</option>
                <option value="evenement">Evenement</option>
                <option value="drukte">Drukte</option>
                <option value="calamiteit">Calamiteit / ongeluk</option>
                <option value="wegwerkzaamheden">Wegwerkzaamheden</option>
                <option value="overig">Overig</option>                
            </select>
        </div>
        
        <input type="text" name="title" placeholder="Bericht" value="{% if bericht.title %}{{ bericht.title }}{% endif %}">
        <textarea name="body" placeholder="Toelichting (optioneel)">{% if bericht.body %}{{ bericht.body }}{% endif %}</textarea>
        
        <input type="text" name="title_en" placeholder="Bericht (engels)">
        <textarea name="body_en" placeholder="Toelichting (engels)"></textarea>
        
        <input type="text" name="title_fr" placeholder="Bericht (frans)">
        <textarea name="body_fr" placeholder="Toelichting (frans)"></textarea>        
        
        <span class="maxchars">Max 200 karakters</span>
        <div class="grid-row group">
            <h3 style="margin-top: 20px">Publicatiedatum</h3>
            <div class="datepicker"><input type="text" name="startdate" id="startdate" placeholder="Start"></div>
            <div class="datepicker"><input type="text" name="enddate" id="enddate" placeholder="Einde"></div>
        </div>
        <button type="submit">Opslaan</button>        
    </form>
    
    <section class="buzz">
        <form method="post" action="berichten/verwijderen">
        <button type="submit" class="verwijderen">Verwijderen</button>
        {#<a href="#" class="verwijder"> x verwijderen</a>#}
        <h2>Berichten</h2>
        <ol>
            {% for record in berichten %}
            <li>
                <input type="checkbox" name="ids[]" value="{{ record.id }}">
                <span class="nr">{{ loop.index }}</span>
                <a href="berichten/{{ record.id }}">{{ record.title }}</a> <span class="meta">{{ record.category }}</span>
            </li>
            {% endfor %}
        </ol>
        </form>
    </section>
    
    
</main>
{% endblock %} 