{% extends 'base/base.twig' %}

{% block main %}
<main class="wrapper app-wrapper"> 
 
    <form class="form-styles" method="post">
        {{ feedback }}
        <h3>Nieuw bericht</h3>
        <div class="grid-row">
            <select name="category">
                <option value="nieuws">Nieuws</option>
                <option value="evenement">Evenement</option>
                <option value="drukte">Drukte</option>
                <option value="calamiteit">Calamiteit / ongeluk</option>
                <option value="wegwerkzaamheden">Wegwerkzaamheden</option>
                <option value="overig">Overig</option>                
            </select>
        </div>
        
        <input type="text" name="title" placeholder="Bericht">
        <textarea name="body" placeholder="Toelichting (optioneel)"></textarea>
        
        <input type="text" name="title_en" placeholder="Bericht (engels)">
        <textarea name="body_en" placeholder="Toelichting (engels)"></textarea>
        
        <input type="text" name="title_fr" placeholder="Bericht (frans)">
        <textarea name="body_fr" placeholder="Toelichting (frans)"></textarea>        
        
        <span class="maxchars">Max 200 karakters</span>
        <div class="grid-row group">
            <h3 style="margin-top: 20px">Publicatiedatum</h3>
            <div class="datepicker"><input type="text" name="startdate" id="startdate" placeholder="Start"></div>
            <div class="datepicker"><input type="text" name="enddate" id="enddate" placeholder="Einde"></div>
        </div>
        {#<div class="grid-row">
            <h4>Bijlage</h4>
            <input type="file">
        </div>#}
        <button type="submit">Toevoegen</button>        
    </form>
    
    <section class="buzz">
        <form method="post" action="berichten/verwijderen">
        <button type="submit" class="verwijderen">Verwijderen</button>
        {#<a href="#" class="verwijder"> x verwijderen</a>#}
        <h2>Berichten</h2>
        <ol>
            {% for record in berichten %}
            <li><input type="checkbox" name="ids[]" value="{{ record.id }}"><span class="nr">{{ loop.index }}</span> {{ record.title }} <span class="meta">{{ record.category }}</span></li>
            {% endfor %}
            
            {#<li><input type="checkbox"><span class="nr">1</span> Willemsbrug vanaf 10 februari afgesloten <span class="dagen">8 dgn</span></li>
            <li><input type="checkbox"><span class="nr">2</span> <b>H11</b> Kattenburgerstraat niet beschikbaar</li>
            <li><input type="checkbox"><span class="nr">3</span> Werkzaamheden Houtmankade, omleiding via Spaarndammerstraat</li>
            <li><input type="checkbox"><span class="nr">4</span> <b>P9</b> opgeheven, ga naar <b>P10</b> <span class="dagen">2 dgn</span></li>
            <li><input type="checkbox"><span class="nr">5</span> Aankomst cruise "Braemar" (930 passagiers) PTA 10:00 uur - Parkeren niet mogelijk</li>
            <li><input type="checkbox"><span class="nr">6</span> <b>H11</b> Kattenburgerstraat niet beschikbaar</li>
            <li><input type="checkbox"><span class="nr">7</span> Werkzaamheden Houtmankade, omleiding via Spaarndammerstraat</li>
            <li><input type="checkbox"><span class="nr">8</span> <b>P9</b> opgeheven, ga naar <b>P10</b></li>#}
        </ol>
        </form>
    </section>
    
    
</main>
{% endblock %} 