    {% set dagnotatie %}
        {% if now|date('y-m-d') == datestring|date('y-m-d') %}
            {{ __('Vandaag') }}
        {% else %}
            {{ dag }} {{ d }}-{{m }}-{{ Y }}
        {% endif %}
    {% endset %}

    <nav class="dagselectie">
        <div class="inner group">
            {#<a href="{{ vorige }}" class="fade-click"><i class="fa fa-chevron-left"></i></a>#}
            <h3 class="dag" style="float: left">{{ dagnotatie }} {#<span class="meta">({{ berichten|length }})</span>#}</h3>
            <a href="#" class="headerdate" id="headerdate" style="float: right">
                <img src="/img/kalender.png" class="kalender-icon" style="width: 16px"><span class="meta" style="font-size: 12px">Kies dag</span>
            </a>
            {#<a href="{{ volgende }}" class="fade-click"><i class="fa fa-chevron-right"></i></a>#}
        </div>
    </nav>