    {% set dagnotatie %}
        {% if now|date('y-m-d') == datestring|date('y-m-d') %}
            {{ __('Vandaag') }}
        {% else %}
            {{ dag }} {{ d }} {{ maand(m) }} {{ y }}
        {% endif %}
    {% endset %}

    <nav class="dagselectie">
        <div class="inner">
            {#<a href="{{ vorige }}" class="fade-click"><i class="fa fa-chevron-left"></i></a>#}
            <h3 class="dag headerdate" id="headerdate"><img src="/img/kalender.png" class="kalender-icon">{{ dagnotatie }}</h3>
            {#<a href="{{ volgende }}" class="fade-click"><i class="fa fa-chevron-right"></i></a>#}
        </div>
    </nav>