<section class="halte-vrij" style="margin: 10px 0; padding: 10px 10px; background: #f8f8f8">

    <h3>Vrije parkeerplaatsen <span class="meta" style="background: #888; color: #fff; font-size: 12px; padding: 2px 5px; margin-bottom: 10px; display: inline-block; border-radius: 5px">beta</span></h3>

    <p><b>Dynamic: {{ dynvialis.parkingFacilityDynamicInformation.facilityActualStatus.vacantSpaces }} / {{ dynvialis.parkingFacilityDynamicInformation.facilityActualStatus.parkingCapacity }}</b> parkeerplaatsen vrij</p>

    <p><b>Current: {{ vialis.vacant }}</b> / {{ vialis.capacity }} parkeerplaatsen vrij</p>
    <p class="meta">Laatste update: {{ now|date('d-m-Y H:i:s') }}</p>
</section>