 <section class="slider" pico-id="slider">
    <a href="/{{ Y }}/{{ m }}/{{ d }}" class="close"><i class="fa fa-close"></i></a>

    <div id="owl-example" class="owl-carousel">
        {% for record in berichten %}

        {% set title %}
            {% if lang == 'nl' %}{{ record.title }}{% endif %}

            {% if lang == 'en' %}
                {% if record.title_en %}{{ record.title_en }}
                {% else %}{{ record.title }} <span class="meta">(translation unavailable)</span>
                {% endif %}
            {% endif %}

            {% if lang == 'de' %}
                {% if record.title_de %}{{ record.title_de }}
                {% else %}{{ record.title_en }} <span class="meta">(Übersetzung nicht verfügbar)</span>
                {% endif %}
            {% endif %}
        {% endset %}

        {% set body %}
            {% if lang == 'nl' %}{{ insertlinks(record.body)|raw }}{% endif %}
            {% if lang == 'en' %}{{ insertlinks(record.body_en)|raw }}{% endif %}
            {% if lang == 'de' %}{{ insertlinks(record.body_de)|raw }}{% endif %}
        {% endset %}

        {% set advice %}
            {% if lang == 'nl' %}{{ insertlinks(record.advice)|raw }}{% endif %}
            {% if lang == 'en' %}{{ insertlinks(record.advice_en)|raw }}{% endif %}
            {% if lang == 'de' %}{{ insertlinks(record.body_de)|raw }}{% endif %}
        {% endset %}

        <article data-id="{{ record.id }}" data-titel="{{ record.title }}">
            <h3 class="bericht-header"><span class="nr">{{ loop.index }}</span> {{ title }}</h3>
            <p>{{ body|raw }}</p>
            {% if advice|trim is not empty %}
                <section class="advies">
                    <h4>{{ __('Advies') }}</h4>
                    <p>{{ advice|raw }}</p>
                </section>
            {% endif %}

            {% if record.link %}
                <h4>{{ __('Meer informatie') }}</h4>
                <a href="{{ record.link }}" class="extern" target="_blank">{{ record.link }}</a>
            {% endif %}

            {% if record.image_id is not empty %}
                <img src="{{ record.image_id }}/?width=800&method=fit">
            {% endif %}

            {% if record.location is not empty %}
                {% if record.include_map is not empty %}
                    <section class="kaartmap wrapper">
                       <img src="{% include 'partials/googlemap.empty.twig' with {'map': record.map} %}" style="width: 100%">
                        {% if record.rel_loc is not empty %}
                            <a href="#" style="top: {{ record.rel_loc.dY }}%; left: {{ record.rel_loc.dX }}%">
                                <img src="/img/markers/{{ loop.index }}.png" class="maplink-m large">
                            </a>
                        {% endif %}
                    </section>
                    <a href="https://maps.google.com?q={{ record.location.lat }},{{ record.location.lng }}" class="kaartlink">{{ __('Bekijk op Google maps') }}</a>
                {% endif %}
            {% endif %}

            <section class="feedback">
                <h4>{{ __('Is deze informatie nuttig?') }}</h4>
                <a href="#" class="ja"><i class="icon thumbs-up"></i>{{ __('Ja') }}</a>
                <a href="#" class="nee"><i class="icon thumbs-down"></i>{{ __('Nee') }}</a>
            </section>

            {# <div class="fb-share-button" data-layout="button" data-mobile-iframe="true"></div> #}

        </article>
        {% endfor %}
    </div>
    <script>
        $(".feedback a").click(function (e) {
            e.preventDefault();
            var $bericht = $(this).closest("*[data-id]");
            var id = $bericht.data("id");
            var titel = $bericht.data("titel");
            var nuttig = $(this).hasClass("ja");
            ga('send', {
              hitType: 'event',
              eventCategory: 'Nuttig',
              eventAction: nuttig ? 'positief' : 'negatief',
              eventLabel: titel + ' (id: ' + id + ')'
            });
            $(this).closest(".feedback").html("<h4>{{ __("Bedankt voor uw feedback.") }}</h4>");
        });
    </script>
</section>
