 <section class="slider" pico-id="slider">
    <a href="/{{ Y }}/{{ m }}/{{ d }}" class="close"><i class="fa fa-close"></i></a>

    {#<nav class="bladeren">
        <a class="volgende" href="#volgende"><img src="/img/volgende.png" alt="volgende"></a>
        <a class="vorige" href="#vorige"><img src="/img/vorige.png" alt="vorige"></a>
    </nav>#}

    <div id="owl-example" class="owl-carousel">
        {% for record in berichten %}

        {% set title %}
            {% if lang == 'nl' %}{{ record.title }}{% endif %}
            {% if lang == 'en' %}{{ record.title_en }}{% endif %}
        {% endset %}

        {% set body %}
            {% if lang == 'nl' %}{{ insertlinks(record.body)|raw }}{% endif %}
            {% if lang == 'en' %}{{ insertlinks(record.body_en)|raw }}{% endif %}
        {% endset %}

        {% set advice %}
            {% if lang == 'nl' %}{{ insertlinks(record.advice)|raw }}{% endif %}
            {% if lang == 'en' %}{{ insertlinks(record.advice_en)|raw }}{% endif %}
        {% endset %}

        <article data-id="{{ record.id }}" data-titel="{{ title }}">
            <h3 class="bericht-header">
                <span class="nr">{{ loop.index }}</span> {{ title }}
            </h3>
            <p>{{ body|raw }}</p>
            {% if advice|trim is not empty %}
                <section class="advies">
                    <h4>{{ __('Advies') }}</h4>
                    <p>{{ advice|raw }}</p>
                </section>
            {% endif %}

            {% if record.image_url is not empty %}
                <img src="{{ record.image_url }}/?width=800&method=fit">
            {% endif %}

            {% if record.location is not empty %}
                <a href="https://maps.google.com?q={{ record.location.lat }},{{ record.location.lng }}" class="kaartlink">Bekijk op Google maps</a>
                {% if record.include_map is not empty %}
                    <section class="kaartmap wrapper">

                        <img src="{% include 'partials/googlemap.empty.twig' with {'map': record.map} %}" style="width: 100%">
                        {% if record.rel_loc is not empty %}
                            <a href="{{ record.link_info }}" style="top: {{ record.rel_loc.dY }}%; left: {{ record.rel_loc.dX }}%">
                                <img src="/img/markers/{{ loop.index }}.png" class="maplink-m large">
                            </a>
                        {% endif %}
                    </section>
                {% endif %}
            {% endif %}


            {% if record.link %}
                <a href="{{ record.link }}" class="extern" target="_blank">Meer informatie</a>
            {% endif %}

        </article>
        {% endfor %}
    </div>
</section>
